{% extends "base.html" %}
{% load static %}
{% block title %}Противопожарные двери - Доставка и монтаж{% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <p class="fw-semibold font-s"><a href="/" class="underline text-black">Главная</a> <i class="fa-solid fa-arrow-right mx-2 font-s"></i> Доставка и монтаж</p>
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-12">
            <h1 class="fs-4">Доставка</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <p class="fw-medium">Мы понимаем, как важна безопасность, и поэтому гарантируем надежную и быструю доставку наших противопожарных дверей.</p>
            <ul>
                <li><span class="fw-semibold">Сроки доставки:</span> от 2 до 7 рабочих дней в зависимости от региона.</li>
                <li><span class="fw-semibold">Условия доставки:</span> мы работаем по всей территории страны, с возможностью доставки в удалённые районы.</li>
                <li><span class="fw-semibold">Упаковка и защита:</span> все товары упакованы с учётом их веса и габаритов, чтобы они не пострадали в процессе транспортировки.</li>
            </ul>
            <p class="mt-2">Если у вас есть особые пожелания по времени доставки — мы постараемся учесть все нюансы.</p>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="msk-delivery p-4 d-flex justify-content-center">
                <p class="text-white fs-4 fw-semibold text-center">Доставка по Московской области - Бесплатная!</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="fs-4">Монтаж</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 col-lg-8">
            <p><span class="fw-bold">Профессиональный монтаж противопожарных дверей</span><br>Монтаж противопожарных дверей — это ключевая часть обеспечения безопасности вашего помещения. Профессиональная установка гарантирует не только надежную защиту от огня, но и сохранение функциональности дверей в критических ситуациях. Мы понимаем важность каждой детали, поэтому наши специалисты тщательно подходят к каждому этапу работы.</p>
            <p class="mt-3"><span class="fw-bold">Комплексный подход к установке</span><br>Мы занимаемся монтажом противопожарных дверей всех типов: как стандартных моделей, так и индивидуальных решений, разработанных с учетом специфики объекта. Каждый проект требует особого подхода, будь то установка в жилых домах, офисах или производственных помещениях.</p>
            <p class="mt-3"><span class="fw-bold">Скорость и точность установки</span><br>Мы ценим ваше время, поэтому монтаж противопожарных дверей выполняется быстро и точно. Благодаря высокой квалификации и профессионализму наших специалистов, все работы проводятся в срок и с максимальной аккуратностью, исключая любые задержки.</p>
            <p class="mt-3"><span class="fw-bold">Предварительная подготовка и точные замеры</span><br>Перед началом установки наши мастера проводят детальные замеры, чтобы гарантировать, что дверь будет установлена идеально. Мы учитываем все особенности помещения и создаем оптимальные условия для монтажа, что помогает избежать проблем в процессе работы.</p>
            <p class="mt-3"><span class="fw-bold">Соответствие стандартам и сертификация</span><br>Вся работа по монтажу противопожарных дверей проводится в строгом соответствии с действующими нормами ГОСТ и требованиями по пожарной безопасности. Мы предоставляем все необходимые сертификаты и гарантии на выполненные работы, что подтверждает их высокое качество и соответствие законодательству.</p>
        </div>
        <div class="col-12 col-lg-4 mt-2 mt-lg-0">
            <img src="{% static "img/delivery.png" %}" alt="Монтаж">
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <div class="guarantee p-4 mt-3">
                <h1 class="fs-4 text-white">Гарантии и сервисное обслуживание</h1>
                <p class="text-white mt-3">Мы предоставляем гарантию на все наши двери и услуги по монтажу:</p>
                <ul>
                    <li class="text-white"><span class="fw-semibold">Гарантия на двери: </span>от 5 лет в зависимости от модели.</li>
                    <li class="text-white"><span class="fw-semibold">Гарантия на монтаж:</span>1 год.</li>
                </ul>
                <p class="text-white mt-3">Кроме того, после установки мы предлагаем сервисное обслуживание дверей, включая проверку работоспособности, настройку механизмов и замену деталей.</p>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1 class="fs-4">Почему выбирают нас?</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-3 mark-background py-3 d-flex align-items-center justify-content-center mt-3 mt-lg-0">
                    <p class="fw-semibold">Опыт и профессионализм</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mark-background py-3 d-flex align-items-center justify-content-center mt-3 mt-lg-0">
                    <p class="fw-semibold">Широкий ассортимент</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mark-background py-3 d-flex align-items-center justify-content-center mt-3 mt-lg-0">
                    <p class="fw-semibold">Комплексный сервис</p>
                </div>
                <div class="col-12 col-md-6 col-lg-3 mark-background py-3 d-flex align-items-center justify-content-center mt-3 mt-lg-0">
                    <p class="fw-semibold">Доступные цены</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="form-footer">
                <div class="form-container">
                    <h3>Оставьте заявку и получите бесплатную консультацию!</h3>
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" id="name" name="name" placeholder=" " required>
                            <label for="name">Имя</label>
                        </div>
                        <div class="form-group">
                            <input type="text" id="phone" name="phone" placeholder=" " required>
                            <label for="phone">Номер телефона</label>
                        </div>
                        <div class="mb-3">
                            <small class="form-text">
                                *Оставляя заявку вы соглашаетесь с <a href="#">политикой конфиденциальности и правилами пользования</a>.
                            </small>
                        </div>
                        <button type="submit">Получить консультацию!</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 d-flex flex-column justify-content-center">
            <h1 class="fs-4">Контакты</h1>
            <p class="mt-2 fw-semibold"><i class="fa-solid fa-envelope me-2"></i>Email</p>
            <a href="mailto:info@nes-agency.ru" class="text-black underline">info@nes-agency.ru</a>
            <p class="mt-2 fw-semibold"><i class="fa-solid fa-phone me-2"></i>Телефон</p>
            <a href="tel:+7 (968) 792-22-61" class="text-black underline">+7 (968) 792-22-61</a>
            <p class="mt-2 fw-semibold">Социальные сети</p>
            <div class="socials d-flex">
                <a href="https://api.whatsapp.com/send?phone=79687922261" class="me-2"><i class="fa-brands fa-square-whatsapp" style="color: #63E6BE;"></i></a>
                <a href="#"><i class="fa-brands fa-telegram" style="color: #74C0FC;"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}