{% extends "base.html" %}
{% load static %}
{% block title %}Противопожарные двери - {{blog.title}}{% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <p class="fw-semibold font-s"><a href="/" class="underline text-black">Главная</a> <i class="fa-solid fa-arrow-right mx-2 font-s"></i> Галерея<i class="fa-solid fa-arrow-right mx-2 font-s"></i> {{blog.title}}</p>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <h1>{{blog.title}}</h1>
        </div>
    </div>
</div>
<div class="container-fluid py-3">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row d-flex">
                    <div class="col-12">
                        <div id="carouselExampleDarkMobile" class="carousel slide carousel-fade">
                            <div class="carousel-indicators">
                                {% for photo in photos %}
                                    <button type="button" data-bs-target="#carouselExampleDarkMobile" 
                                            data-bs-slide-to="{{ forloop.counter0 }}" 
                                            class="{% if forloop.first %}active{% endif %}" 
                                            aria-current="{% if forloop.first %}true{% endif %}" 
                                            aria-label="Slide {{ forloop.counter }}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                {% for photo in photos %}
                                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                        <img src="{{ photo.photo.url }}" class="d-block w-100 carousel-image" alt="{{ photo.caption }}" onclick="openModal({{ forloop.counter0 }})">
                                        {% if photo.caption %}
                                            <div class="carousel-caption d-none d-md-block">
                                                <p>{{ photo.caption }}</p>
                                            </div>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkMobile" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon galery-control" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkMobile" data-bs-slide="next">
                                <span class="carousel-control-next-icon galery-control" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="thumbnails d-flex">
                            {% for photo in photos %}
                            <img 
                                src="{{ photo.photo.url }}" 
                                alt="Thumbnail" 
                                class="thumbnail-img"
                                onclick="setActiveSlide('{{ forloop.counter0 }}')"
                                ondragstart="return false;"
                                style="cursor: pointer;">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="carouselModal" tabindex="-1" aria-labelledby="carouselModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Кнопка закрытия -->
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel slide d-flex align-items-center h-100" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for photo in photos %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %} galery-detail-img">
                            <img src="{{ photo.photo.url }}" class="d-block w-100" alt="{{ photo.caption }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущее</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующее</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            {{blog.content|safe}}
        </div>
    </div>
</div>
<div class="container-fluid footer-form py-3 mb-3 my-5" id="index-form">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-2 d-none d-lg-flex align-items-center">
                        <img src="{% static "img/logo.png" %}" alt="Лого" class="form-img">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-footer">
                            <div class="form-container">
                                <h3>Оставьте заявку и получите бесплатную консультацию!</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" id="name" placeholder=" " required>
                                        <label for="name">Имя</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phone" placeholder=" " required>
                                        <label for="phone">Номер телефона</label>
                                    </div>
                                    <div class="mb-3">
                                        <small class="form-text">
                                            *Оставляя заявку вы соглашаетесь <a href="#">политикой конфиденциальности и правилами пользования</a>.
                                        </small>
                                    </div>
                                    <button type="submit">Получить консультацию!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        window.setActiveSlide = function(index) {
            const carouselElement = document.getElementById('carouselExampleDarkMobile');
            if (!carouselElement) {
                return;
            }
    
            let bsCarousel = bootstrap.Carousel.getInstance(carouselElement);
            if (!bsCarousel) {
                bsCarousel = new bootstrap.Carousel(carouselElement);
            }
            bsCarousel.to(parseInt(index));
        };
    })
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const carouselElement = document.getElementById('carouselExampleDarkMobile');
        if (carouselElement) {
            const bsCarousel = new bootstrap.Carousel(carouselElement);
        } else {
            console.error("Carousel element not found during initialization!");
        }
    });
</script>
<script>
    function openModal(index) {
        const modal = new bootstrap.Modal(document.getElementById('carouselModal'));
        modal.show();
        const modalCarousel = document.getElementById('modalCarousel');
        const bsCarousel = bootstrap.Carousel.getInstance(modalCarousel);
        if (!bsCarousel) {
            new bootstrap.Carousel(modalCarousel);
        }
        bootstrap.Carousel.getInstance(modalCarousel).to(index);
    }
</script>
{% endblock content %}