{% extends "base.html" %}
{% load static %}
{% block title %}Противопожарные двери - Главная{% endblock title %}
{% block content %}
<div class="fire-hero container-fluid py-3">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <h1 class="fw-bold fs-3 text-center">ПРОТИВОПОЖАРНЫЕ ДВЕРИ ПО ИНДВИДУАЛЬНЫМ РАЗМЕРАМ!</h1>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <div class="col-12 col-sm-6 col-lg-4 d-flex flex-column justify-content-center align-items-center align-items-sm-start align-items-md-center">
                    <h2 class="fs-2 fw-bold shadow-text-md">ЗАМЕР  ДВЕРИ</h2>
                    <h2 class="fs-1 fw-bold shadow-text-md">БЕСПЛАТНО</h2>
                    <p class="fw-semibold"><img src="{% static "img/icons/verified.svg" %}" alt="Гарантия" class="hero-icon"> Гарантия 2 года</p>
                    <p class="fw-semibold"><img src="{% static "img/icons/24.svg" %}" alt="24 часа на производство" class="hero-icon-1 me-2">Производство двери за 24 часа !</p>
                    <a href="tel:+7 (968) 792-22-61" class="btn hero-btn fs-4 fw-bold px-5 mt-3">ПОЗВОНИТЬ</a>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 d-flex justify-content-center mt-2 mt-md-0">
                    <img src="{% static "img/hero-img.png" %}" alt="Двери херо секция" class="hero-img">
                </div>
            </div>
        </div>
    </div>
    <img src="{% static "img/avito.png" %}" alt="5 звезд на Авито" class="avito-hero d-none d-md-block">
</div>
<div class="container py-3" id="catalog">
    <div class="row">
        <div class="col-12">    
            <p class="fw-bold fs-5 pb-3">Каталог продукции</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mt-3 mt-md-0">
            <div class="row card-theme w-100 h-100 justify-content-between">
                <div class="col-12 px-0">
                    <img src="{% static "img/door-1.png" %}" alt="Противопожарные двери" class="card-img">
                </div>
                <div class="col-12 py-2 px-4 d-flex flex-column justify-content-between">
                    <p class="fs-6 text-white fw-semibold">Противопожарные двери</p>
                    <p class="font-s text-white">Противопожарные двери по вашим размерам за 24 часа</p>
                    <a href="#products" class="btn my-btn font-s mt-1" data-category="fire_doors">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mt-3 mt-md-0">
            <div class="row card-theme w-100 h-100 justify-content-between">
                <div class="col-12 px-0">
                    <img src="{% static "img/door-2.png" %}" alt="Противопожарные двери" class="card-img">
                </div>
                <div class="col-12 py-2 px-4 d-flex flex-column justify-content-between">
                    <p class="fs-6 text-white fw-semibold">Противопожарные ворота</p>
                    <p class="font-s text-white">Противопожарные ворота по вашим размерам за 24 часа</p>
                    <a href="#products" class="btn my-btn font-s mt-1" data-category="fire_gates">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center mt-3 mt-lg-0">
            <div class="row card-theme w-100 h-100 justify-content-between">
                <div class="col-12 px-0">
                    <img src="{% static "img/door-3.png" %}" alt="Противопожарные двери" class="card-img">
                </div>
                <div class="col-12 py-2 px-4 d-flex flex-column justify-content-between">
                    <p class="fs-6 text-white fw-semibold">Противопожарные люки</p>
                    <p class="font-s text-white">Противопожарные люки по вашим размерам за 24 часа</p>
                    <a href="#products" class="btn my-btn font-s mt-1" data-category="fire_hatches">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-1">
    <div class="row">
        <div class="col-12 contact-col py-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-12 col-lg-auto d-flex justify-content-center">
                                <p class="fs-3 text-white fw-semibold">Запишись на замер!</p>
                            </div>
                            <div class="col-12 col-lg-auto d-flex justify-content-center mt-2 mt-lg-0 flex-column">
                                <a href="tel:+7 (968) 792-22-61" class="btn card-btn fw-bold px-3"><i class="fa-solid fa-phone me-2"></i>+7 (968) 792-22-61</a>
                                <a href="tel:+7 (495) 226-28-02" class="btn card-btn fw-bold px-3 mt-2"><i class="fa-solid fa-phone"></i>+7 (495) 226-28-02</a>
                            </div>
                            <div class="col-12 col-lg-auto d-flex justify-content-center mt-2 mt-lg-0">
                                <a href="#" class="btn card-btn fw-bold px-3"><i class="fa-brands fa-telegram me-2"></i>Telegram</a>
                            </div>
                            <div class="col-12 col-lg-auto d-flex justify-content-center mt-2 mt-lg-0">
                                <a href="https://wa.me/89687922261" class="btn card-btn fw-bold px-3"><i class="fa-brands fa-whatsapp me-2"></i></i>WhatsApp</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-3" id="products">
    <!-- Фильтры -->
    <div class="row">
        <div class="col-12 d-block d-lg-none mb-3">
            <div class="filters-swiper py-2">
                <div class="swiper-wrapper">
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="">
                        Сбросить фильтры
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter active" data-category="fire_doors">
                        Противопожарные двери
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="fire_gates">
                        Противопожарные ворота
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="fire_hatches">
                        Противопожарные люки
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="hidden_doors">
                        Скрытые двери
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="ultra_clear_structures">
                        Сверхпрозрачные конструкции
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="technical_products">
                        Технические изделия
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2 reset-filter" data-category="aluminum_structures">
                        Алюминиевые конструкции
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 filters py-2 d-none d-lg-block">
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2 reset-filter" data-category="">
                Сбросить фильтры
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2 active" data-category="fire_doors">
                Противопожарные двери
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="fire_gates">
                Противопожарные ворота
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="fire_hatches">
                Противопожарные люки
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="hidden_doors">
                Скрытые двери
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="ultra_clear_structures">
                Сверхпрозрачные конструкции
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="technical_products">
                Технические изделия
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium" data-category="aluminum_structures">
                Алюминиевые конструкции
            </button>
        </div>

        <!-- Товары -->
        <div class="col-12 col-lg-8">
            <div class="row" id="product-list">
                {% for product in products %}
                <div class="col-12 col-lg-4 col-xl-3 mt-2 h-100">
                    <div class="card product-card mb-3 h-100" style="width: 100%;">
                        <img src="{{ product.photo.url }}" class="card-img-top p-2" alt="{{ product.title }}">
                        <div class="card-body d-flex flex-column">
                            <h5 class="fs-6 fw-light flex-grow-1 product-title">{{ product.title }}</h5>
                            <p class="card-text fw-semibold">от {{ product.price }} {% if product.category == 'fire_hatches' or product.category == 'hidden_doors' or product.category == 'ultra_clear_structures'%}Р.{% else %}Р./м2{% endif %}</p>
                            <a href="#index-form" class="btn card-btn fw-bold px-3 mt-2">Заказать</a>
                            <button class="btn btn-secondary fw-bold px-3 mt-2" onclick="openModal('{{ product.id }}', '{{ product.title }}', '{{ product.description }}', '{{ product.photo.url }}', '{{ product.price }}')">Подробнее</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div id="product-modal" class="modal" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.8); z-index: 10500; flex-grow: 1; overflow-y: auto; overflow-x: hidden;">
    <div class="modal-content" style="position: relative; background: white; width: 90%; height: 90%; margin: auto; top: 5%; padding: 20px; overflow: auto;">
        <span class="close display-2 fw-semibold" onclick="closeModal()" style="position: absolute; top: -10px; right: 20px; cursor: pointer; background-color:rgba(255, 255, 255, 0.624);">&times;</span>
        <div id="modal-body">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-8 col-lg-6">
                        <img id="modal-image" src="" alt="Product Image" style="width: 100%; max-height: 400px; object-fit: contain;">
                    </div>
                    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
                        <h2 id="modal-title" class="mt-4 mb-3"></h2>
                        <div class="">
                            <p id="price" class="fw-semibold fs-4 mb-1"></p>
                            <button onclick="moveToForm()" class="btn btn-modal-product px-5">Заказать</button>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12">
                        <p class="fw-semibold fs-4 mb-2">Характеристики:</p>
                        <p id="modal-description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid contact-col py-3">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row pb-3 justify-content-between">
                    <div class="col-auto">
                        <p class="fw-bold fs-5 text-white">Галерея</p>
                    </div>
                    <div class="col-auto d-flex align-items-center">
                        <a href="{% url 'galery' %}" class="text-white text-center underline fw-semibold">Больше фото<i class="fa-solid fa-arrow-right ms-2"></i></a>
                    </div>
                </div>
                <div class="row d-none d-lg-flex desctop-carousel py-3">
                    <div class="col-12">
                        <div id="carouselExampleDarkDesctop" class="carousel carousel-dark slide carousel-fade">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleDarkDesctop" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleDarkDesctop" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleDarkDesctop" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner contain">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <div class="container">
                                        <div class="row">
                                            <!-- Изображения для открытия в модальном окне -->
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="0">
                                                    <img src="{% static 'img/d1.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="1">
                                                    <img src="{% static 'img/d2.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="2">
                                                    <img src="{% static 'img/d3.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="3">
                                                    <img src="{% static 'img/d4.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="4">
                                                    <img src="{% static 'img/d5.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="5">
                                                    <img src="{% static 'img/d6.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="6">
                                                    <img src="{% static 'img/d7.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="7">
                                                    <img src="{% static 'img/d8.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                            <div class="col-4">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#galleryModal" data-bs-slide-to="8">
                                                    <img src="{% static 'img/d9.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="carousel-control-prev justify-content-start" type="button" data-bs-target="#carouselExampleDarkDesctop" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next justify-content-end" type="button" data-bs-target="#carouselExampleDarkDesctop" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row d-flex d-lg-none">
                    <div class="col-12">
                        <div id="carouselExampleDarkMobile" class="carousel carousel-dark slide carousel-slide">
                            <div class="carousel-inner contain">
                                <div class="carousel-item active" data-bs-interval="10000">
                                    <img src="{% static 'img/d1.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d2.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d3.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d4.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d5.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d6.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d7.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d8.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                                <div class="carousel-item" data-bs-interval="10000">
                                    <img src="{% static 'img/d9.jpeg' %}" alt="Противопожарные двери" class="card-img">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDarkMobile" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDarkMobile" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Модальное окно с каруселью -->
<div class="modal fade" id="galleryModal" tabindex="-1" aria-labelledby="galleryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header border-0">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="galleryCarousel" class="carousel slide" data-bs-ride="false">
                    <div class="carousel-inner contain">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="{% static 'img/d1.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d2.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d3.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d4.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d5.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d6.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d7.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d8.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                        <div class="carousel-item" data-bs-interval="10000">
                            <img src="{% static 'img/d9.jpeg' %}" alt="Противопожарные двери" class="card-img">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#galleryCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#galleryCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid py-3">
    <div class="certificate-slider">
        {% for certificate in certificates %}
        <div class="mx-2">
            <!-- Изображение сертификата -->
            <img src="{{ certificate.photo.url }}" alt="{{certificate.title}}" class="certificate-img" data-bs-toggle="modal" data-bs-target="#certificateModal" data-img="{{ certificate.photo.url }}">
        </div>
        {% endfor %}
    </div>
</div>

<!-- Модальное окно -->
<div class="modal fade" id="certificateModal" tabindex="-1" aria-labelledby="certificateModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="certificateModalLabel">Сертификат</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Изображение сертификата будет сюда загружено -->
        <img id="modalImage" src="" class="img-fluid" alt="Certificate">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer-form py-3 mb-3" id="index-form">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-2 d-none d-lg-flex align-items-center">
                        <img src="{% static "img/logo.png" %}" alt="Лого" class="form-img">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-footer">
                            <div class="form-container">
                                <h3>Оставьте заявку и получите бесплатную консультацию!</h3>
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" id="name" name="name" placeholder=" " required>
                                        <label for="name">Имя</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phone" name="phone" placeholder=" " required>
                                        <label for="phone">Номер телефона</label>
                                    </div>
                                    <div class="mb-3">
                                        <small class="form-text">
                                            *Оставляя заявку вы соглашаетесь с <a href="#">политикой конфиденциальности и правилами пользования</a>.
                                        </small>
                                    </div>
                                    <button type="submit">Получить консультацию!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
  // Слушаем клик на изображение сертификата
  document.querySelectorAll('.certificate-img').forEach(img => {
    img.addEventListener('click', function() {
      const imageUrl = this.getAttribute('data-img');
      // Загружаем изображение в модальное окно
      document.getElementById('modalImage').src = imageUrl;
    });
  });
</script>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const filterButtons = document.querySelectorAll('.filter-btn');
        const productList = document.getElementById('product-list');
        const defaultCategory = 'fire_doors'; // Установите категорию по умолчанию

        // Функция для загрузки продуктов
        const loadProducts = (category) => {
            // Формируем URL для запроса
            const url = category ? `/filter-products/?category=${category}` : '/filter-products/';

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    // Очистить текущий список продуктов
                    productList.innerHTML = '';

                    // Заполнить новыми продуктами
                    data.products.forEach(product => {
                        const productHtml = `
                            <div class="col-12 col-lg-4 col-xl-3 mt-2 h-100">
                                <div class="card product-card mb-3 h-100" style="width: 100%;">
                                    <img src="${product.photo}" class="card-img-top p-2" alt="${product.title}">
                                    <div class="card-body d-flex flex-column">
                                        <h5 class="fs-6 fw-light flex-grow-1 product-title">${product.title}</h5>
                                        <p class="card-text fw-semibold">от ${ product.price } {% if product.category == 'fire_hatches' or product.category == 'hidden_doors' or product.category == "ultra_clear_structures" %}Р.{% else %}Р./м2{% endif %}</p>
                                        <a href="#" class="btn card-btn fw-bold px-3 mt-2">Заказать</a>
                                        <button class="btn btn-secondary fw-bold px-3 mt-2" onclick="openModal('${ product.id }', '${ product.title }', '${ product.description }', '${ product.photo }', '${ product.price }')">Подробнее</button>
                                    </div>
                                </div>
                            </div>
                        `;
                        productList.insertAdjacentHTML('beforeend', productHtml);
                    });
                });
        };

        // Установка обработчиков на кнопки фильтров
        filterButtons.forEach(button => {
            button.addEventListener('click', () => {
                const category = button.dataset.category;

                // Удалить класс 'active' у всех кнопок
                filterButtons.forEach(btn => btn.classList.remove('active'));

                // Добавить класс 'active' к текущей кнопке
                button.classList.add('active');

                // Загрузить продукты для выбранной категории
                loadProducts(category);
            });
        });

        // Загрузка продуктов для категории по умолчанию при загрузке страницы
        loadProducts(defaultCategory);

        // Установить активное состояние для кнопки с категорией по умолчанию
        const defaultButton = document.querySelector(`.filter-btn[data-category="${defaultCategory}"]`);
        if (defaultButton) {
            defaultButton.classList.add('active');
        }
    });
</script>
<script>
    function openModal(productId, title, description, imageUrl, price) {
        const realPrice = price + " " + "Р."
        document.getElementById('product-modal').style.display = 'block';
        document.getElementById('modal-title').innerText = title;
        document.getElementById('modal-description').innerText = description;
        document.getElementById('modal-image').src = imageUrl;
        document.getElementById('price').innerText = realPrice;
        console.log(imageUrl);
    }

    function closeModal() {
        document.getElementById('product-modal').style.display = 'none';
    }
</script>
<script>
    function moveToForm() {
        document.getElementById('product-modal').style.display = 'none';
        document.getElementById('index-form').scrollIntoView({ behavior: 'smooth' });
    }
</script>


{% endblock content %}