{% extends "base.html" %}
{% load static %}
{% block title %}Противопожарные двери - Сертификаты{% endblock title %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-12">
            <p class="fw-semibold font-s"><a href="/" class="underline text-black">Главная</a> <i class="fa-solid fa-arrow-right mx-2 font-s"></i> Сертификаты</p>
        </div>
    </div>
</div>
<div class="container my-3">
    <div class="row">
        <!-- Фильтры для десктопа -->
        <div class="col-12 col-lg-4 filters py-2 d-none d-lg-block">
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="">
                Все сертификаты
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="fire_doors_cert">
                Сертификаты на противопожарные двери
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="aluminum_structures_cert">
                Сертификаты на алюминиевые конструкции
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="smoke_proof_doors_cert">
                Сертификаты на дымогазонепроницаемые двери
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="product_cert">
                Сертификаты на изделия
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="installation_license">
                Лицензия на осуществление монтажных работ
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="certification_tests">
                Протоколы сертификационных испытаний
            </button>
            <button class="filter-btn w-100 py-2 text-center fw-medium mb-2" data-category="gost_iso_cert">
                Сертификат соответствия требованиям ГОСТ Р ИСО
            </button>
        </div>

        <!-- Фильтры для мобильных устройств -->
        <div class="col-12 d-block d-lg-none mb-3">
            <div class="filters-swiper py-2">
                <div class="swiper-wrapper">
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="">
                        Все сертификаты
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="fire_doors_cert">
                        Сертификаты на противопожарные двери
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="aluminum_structures_cert">
                        Сертификаты на алюминиевые конструкции
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="smoke_proof_doors_cert">
                        Сертификаты на дымогазонепроницаемые двери
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="product_cert">
                        Сертификаты на изделия
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="installation_license">
                        Лицензия на осуществление монтажных работ
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="certification_tests">
                        Протоколы сертификационных испытаний
                    </button>
                    <button class="filter-btn py-2 text-center fw-medium me-2" data-category="gost_iso_cert">
                        Сертификат соответствия требованиям ГОСТ Р ИСО
                    </button>
                </div>
            </div>
        </div>

        <!-- Список сертификатов -->
        <div class="col-12 col-lg-8">
            <div class="row" id="sertificate-list">
                {% for sertificate in sertificates %}
                <div class="col-12 col-md-6 col-lg-3">
                    <img src="{{ sertificate.photo.url }}" alt="{{ sertificate.title }}">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid footer-form py-3 mb-3">
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row justify-content-evenly">
                    <div class="col-2 d-none d-lg-flex align-items-center">
                        <img src="{% static "img/logo.png" %}" alt="Лого" class="form-img">
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-footer">
                            <div class="form-container">
                                <h3>Оставьте заявку и получите бесплатную консультацию!</h3>
                                <form>
                                    <div class="form-group">
                                        <input type="text" id="name" placeholder=" " required>
                                        <label for="name">Имя</label>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" id="phone" placeholder=" " required>
                                        <label for="phone">Номер телефона</label>
                                    </div>
                                    <div class="mb-3">
                                        <small class="form-text">
                                            *Оставляя заявку вы соглашаетесь с <a href="#">политикой конфиденциальности и правилами пользования</a>.
                                        </small>
                                    </div>
                                    <button type="submit">Получить консультацию!</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const filterButtons = document.querySelectorAll('.filter-btn');
        const sertificateList = document.getElementById('sertificate-list');

        filterButtons.forEach(button => {
            button.addEventListener('click', () => {
                const category = button.dataset.category;

                fetch(`/filter-sertificates/?category=${category}`)
                    .then(response => response.json())
                    .then(data => {
                        // Очистить список сертификатов
                        sertificateList.innerHTML = '';

                        // Добавить новые сертификаты
                        data.sertificates.forEach(sert => {
                            const sertHtml = `
                                <div class="col-12 col-md-6 col-lg-3">
                                    <img src="${sert.photo}" alt="${sert.title}">
                                </div>
                            `;
                            sertificateList.insertAdjacentHTML('beforeend', sertHtml);
                        });
                    });
            });
        });
    });
</script>

{% endblock content %}